@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Created CICD Pipeline using container registry and Azure DevOps Pipeline</h1>
    <h1>MVC Application Create a Docker Image</h1>
    <h1>And add into Github Respository </h1>
</div>
